
.container {
	border-style: solid;
	border-color: red;
	border-width: 0px;
	height: 400px;
	width: 280px;
	margin: 0 auto;
}

.column {
	border-style: solid;
	border-color: yellow;
	border-width: 0px;
	box-sizing: border-box;
	float:left;
}

.M {
}

.nucleotide {

}

.THEW {
}

.space {
	display:none;
}

.ZEHNDER {
}

.row {
	border-style: solid;
	border-color: blue;
	border-width: 0px;
	box-sizing: border-box;

}

.top {
}

.middle {
}

.bottom {
}

.cell-M {
	margin-left: 17px;
	margin-right: 2px;

}

.cell-THEW {
}

.cell-ZEHNDER {
	text-align: center;

}

.blurb {
	width:270px;
	color:#A0A0A0;
	padding-left: 12px;
}

.desk-only {
	display:none;
}

#G {
	color: #04E58B;
}

#A {
	color: #E51A16;
}

#T {
	color: #006EE5;
}

#C {
	color: #FFF300;
}

@media (min-width: 750px) {

	.container {
		border-style: solid;
		border-color: red;
		border-width: 0px;
		height: 650px;
		width: 750px;
		margin: 0 auto;
	}

	.column {
		border-style: solid;
		border-color: yellow;
		border-width: 0px;
		box-sizing: border-box;
		height: 650px;
		float:left;
	}

	.M {
		width:100px;
		margin-right: 3px;
	}

	.nucleotide {
		width:75px;
	}

	.THEW {
		width:175px;
	}

	.space {
		width:0px;
		display:block;
	}

	.ZEHNDER {
		width:350px;
	}

	.row {
		border-style: solid;
		border-color: blue;
		border-width: 0px;
		box-sizing: border-box;
		width: 100%;

	}

	.top {
		height: 300px;
	}

	.middle {
		height: 100px;
	}

	.bottom {
		height: 250px;
	}

	.cell-M {
		text-align: right;
		margin-left: 0;

	}

	.cell-THEW {
		text-align: left;
	}

	.cell-ZEHNDER {
		text-align: left;

	}

	.blurb {
		width:280px;
		color:#A0A0A0;
		padding-left: 0px;
	}

	.fade-outer {
		position: relative;
	}

	.fade-inner-top {
		background: white;
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
	}

	.fade-inner-bottom {
		background: white;
		background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
	}

	.desk-only {
		display:block;
	}

	.nuc-top{
		margin-top: 30px;
    	margin-bottom: -30px;
	}

	.nuc-bottom{
		height: 65px;
	}
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
 }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  font-family: 'Cousine', sans-serif;
  color: #222; }

 /* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; 
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
	font-size: 4em;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }

